<table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Form Type</th>
            <th>Source Number</th>
            <th>Status</th>
            <th>Assigned To</th>
            <th>Last Modified</th>
            <th>Created By</th>
            <th>Synopsis</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pendingForm of pendingForms; index as i;">
            <td>{{pendingForm.formType}}</td>
            <td>{{pendingForm.sourceNumber}}</td>
            <td>{{pendingForm.status}}</td>
            <td>{{pendingForm.assignedTo}}</td>
            <td>{{pendingForm.lastModified | date:'short' }}</td>
            <td>{{pendingForm.createdBy }}</td>
            <td>{{pendingForm.synopsis }}</td>
          </tr>
        </tbody>
      </table>