<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Squad</th>
      <th>Source Number</th>
      <th>Action</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let actionItem of actionItems; index as i;">
      <td>{{actionItem.squad}}</td>
      <td>{{actionItem.sourceNumber}}</td>
      <td>{{actionItem.action}}</td>
      <td>{{actionItem.date | date:'short' }}</td>
    </tr>
  </tbody>
</table>