<style>
@font-face {
  font-family: 'ABOVE DEMO';
  src: url('assets/fonts/above.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'Pasajero';
  src: url('assets/fonts/Pasajero.woff') format('woff');
}
    </style>
<nav class="nav az-navbar fixed-top">
    <a style="background-color:#f8f8f8; height:100%; padding:10px 0 0 5px;" class="navbar-brand" routerLink="/" (click)="closeSubMenus()">
        <img style="float:left;" height="40" src="assets/img/logo/delta-logo-blueredyellow.png" />
        <img src="assets/img/logo/delta_logo.png" style="height:32px; padding-top:10px; padding-left:8px;"  />
        <div style="clear:both;"></div> 
    </a>
    <div id="lines" class="transition" (click)="toggleMenu()"></div>
    
    <form role="search" class="app-search d-md-block d-none">
        <input type="text" placeholder="Search..." class="form-control">
        <a href="javascript:void(0)"><i class="fa fa-search"></i></a>
    </form>

    <ul class="nav right-section"> 
        <li class="nav-item">
           <az-messages></az-messages>
        </li>
        <li class="nav-item">
          <div class="dropdown float-right user-menu">
              <a class="dropdown-toggle user-link" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                  <img style="width:40px; height:40px;" src="assets/img/users/user.jpg" alt="user-img" class="img-circle user-img">
                  <span class="d-lg-inline d-none">Kevin Clark</span>
              </a>

              <ul class="dropdown-menu">
                  <li class="user-info">
                      <img src="assets/img/users/user.jpg" alt="user-img" class="img-circle user-img">                    
                      <p>
                          Emilio Verdines - Web Developer
                          <small>Member since Dec. 2015</small>
                      </p>
                  </li>
                  <a class="dropdown-item" routerLink="profile"><i class="fa fa-user"></i>Profile</a>
                  <a class="dropdown-item" routerLink="settings"><i class="fa fa-cog"></i>Settings</a>
                  <a class="dropdown-item" routerLink="/"><i class="fa fa-lock"></i>Lock screen</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="/login"><i class="fa fa-power-off"></i>Log out</a>
              </ul>
          </div>
        </li>
    </ul>

</nav>