<div *ngIf="!acceptedTermsOfUse" style="background-color: rgba(54, 55, 56, 0.5); width:100vw; height:100vh;">
    <style>
        @font-face {
        font-family: 'ABOVE DEMO';
        src: url('assets/fonts/above.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
        }

        @font-face {
        font-family: 'Pasajero';
        src: url('assets/fonts/Pasajero.woff') format('woff');
        }
    </style>
<!--Navbar before accepting disclaimer - only shows logo -->
    <nav class="nav az-navbar" style="margin-bottom:20vh;">
        <a style="background-color:#f8f8f8; height:100%;  padding:10px 0 0 5px;" class="navbar-brand" routerLink="/" (click)="closeSubMenus()">
            <img style="float:left;" height="40" src="assets/img/logo/delta-logo-blueredyellow.png" />
            <img src="assets/img/logo/delta_logo.png" style="height:32px; padding-top:10px; padding-left:8px;"  />
            <div style="clear:both;"></div>        
        </a>
    </nav>

    <div *ngIf="isLoading"  class="card" style="width: 35%; height:30%; margin: 0 auto;">     
       <img style="margin:10px auto;" src="./assets/img/app/loading.gif" width="100" height="100" />
       <p class="text-center text-primary">Please sit back and relax. Loading Delta.</p>
    </div>

    <div *ngIf="!isLoading">
        <div *ngIf="!isAuthenticated" class="card" style="width: 75%; margin: 0 auto;">
            <div class="card-header">
                <h4 class="card-title">Not Authorized</h4>
            </div>
            <div class="card-block" style="padding:15px;">
                <p class="card-text">We could not locate a user account in Delta for you.  Please contact the Help Desk</p>
            </div>
        </div>
        <!--Only show this if Authenticated -->
        <div *ngIf="isAuthenticated" class="card" style="width: 75%; margin: 0 auto;">
        <div class="card-header">
            <h4 class="card-title">Disclaimer</h4>
        </div>
            <div class="card-block" style="padding:15px;">
                <p class="card-text">You are accessing a U.S. Government information system, which includes this computer, this computer 
                network, all computers connected to this network, and all devices and/or storage media attached to this network or to a 
                computer on this network. This information system is provided for U.S. Government-authorized use only. Unauthorized or 
                improper use of this system may result in disciplinary action, and civil and criminal penalties. By using this 
                information system, you understand and consent to the following: you have no reasonable expectation of privacy regarding 
                any communication transmitted through or data stored on this information system. At any time, the government may 
                monitor, intercept, search, and/or seize data transiting or stored on this information system. Any communications 
                transmitted through or data stored on this information system may be disclosed or used for any U.S. Government-authorized 
                purpose.</p>
            </div>
            <div class="modal-footer">
                <button (click)="onUserAgreed()" type="button" class="btn btn-primary">I Agree</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="acceptedTermsOfUse">
    <router-outlet></router-outlet>
</div>