

<div class="row">
<div class="col-lg-8 col-md-8 col-sm-12" style="border:0px solid red">
  <div>
    <h5>Pending Forms</h5>
    <home-pending-forms-grid></home-pending-forms-grid>
  </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-12" style="border:0px solid blue">
  <div>
    <h5>Action Items</h5>
    <home-action-items-grid></home-action-items-grid>
  </div>
</div>
</div>