<az-navbar></az-navbar>
<div class="container-fluid">
    <div  class="row"> 
         <az-menu></az-menu> 
        <!-- <az-sidebar></az-sidebar> -->
        <div class="main-wrapper"  [ngClass]="{'menu-collapsed': isMenuCollapsed}"> 
            <div class="az-overlay" *ngIf="!isMenuCollapsed" (click)="hideMenu()"></div>

            <div class="main">
                <div style="height:30px; width: 100%; border-bottom:1px solid gray; margin-bottom:10px;">
                    <a style="padding:5px; background-color:aquamarine;" href="">S-00001</a> <a href="">S-00001</a> <a href="">S-00001</a>
                </div>
                <!--Content injected here -->
                <app-breadcrumbs></app-breadcrumbs>
                <router-outlet></router-outlet>
            </div>          


            <footer class="footer text-center clearfix">
                <div class="footer-main pull-left  clearfix">

                    <ul class="share clearfix pull-left">
                        <li><a href="" target="_blank"><i class="fa fa-question transition"></i> Support</a></li>          
                    </ul>
                </div>


                <div class="pull-right created">Created with <i class="fa fa-heart"></i> by the Delta Team</div>
                
            </footer>

            <az-back-top position="200"></az-back-top>

        </div>
    </div>
</div>
